html{
  height: 100%;
  width: 100%;
}

body{
  font-family: arial;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app{
  width: 100%;
  height: 100%;
}

.root{
  min-height: 100vh;
  position: relative;
}

.background{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(#e6ffff, #000000);
  position: fixed;
}

.top-container{
  height: 100%;
  width: 100%;
  position: relative;
}

.left-nav{
  left: 0;
  background-color: #101010;
  height: 100vh;
  width: 250px;
  padding-bottom: 100px;
  position: fixed;
}

.left-nav sidebar{
  background-image: linear-gradient(#0a0a0a, #ccffff);
  float: right;
  width: 1.5vh;
  height: 100%;
}

.view-manu{
  height: 85vh;
  width: auto;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 15vh;
}

.right-nav{
  float: right;
  background-color: #101010;
  height: 90vh;
  width: 250px;
  padding-bottom: 100px;
  position: inherit;
}

.now-playing-bar{
  background-color: #303030;
  width: 100%;
  min-height: 100px;
  position: fixed;
  bottom: 0;
}
